





matplotlib==3.5.3
numpy==1.26.4
pandas==2.2.1
pandas_datareader==0.10.0
pandas_ta==0.3.14b0
plotly==5.19.0
Requests==2.31.0
scikit_learn==1.2.1
streamlit==1.31.1
xgboost==2.0.3
yfinance==0.2.36
